.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Asegura que el contenedor principal ocupe al menos el 100% de la altura de la pantalla */
}


.main-content {
  flex-grow: 1;
  padding-top: 75px; /* <--- AÑADE ESTA LÍNEA */
}

.main-content {
  flex-grow: 1;
  padding-top: 75px; /* El que ya teníamos para la NavBar */
  padding-bottom: 80px; /* <--- AÑADE ESTA LÍNEA (usa la altura de tu footer + un margen) */
}

.logo-img {
    height: 80px;
    width: auto;
  }

  body,
  html {
    margin: 0;
    padding: 0;
     min-height: 100vh;
  height: 100%;
  }
  .full-width-carousel {
    width: 100vw;
  }
  .carousel-item img {
    object-fit: cover;
    height: 70vh; /* Opcional: para que ocupe toda la altura de la ventana */
  }
  .full-width-carousel {
    margin-top:6rem; /* Ajusta según el alto de tu navbar */
  }
#footer  
  footer a:hover {
    text-decoration: underline;
    color: #000000;
  }
  